body {
  font-family: IRANSansXFaNum, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  direction: rtl;
  margin: 0;
  /* overflow:hidden; */
  background-color: rgb(244, 244, 244) !important;
}

code {
  font-family: IRANSansXFaNum, source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


@font-face {
	font-family: IRANSansXFaNum;
	font-style: normal;
	font-weight: 100;
	src: url('fonts/woff/IRANSansXFaNum-thin.woff') format('woff'),   
	url('fonts/woff2/IRANSansXFaNum-thin.woff2') format('woff2');		
}

@font-face {
	font-family: IRANSansXFaNum;
	font-style: normal;
	font-weight: 200;
	src: url('fonts/woff/IRANSansXFaNum-UltraLight.woff') format('woff'),   
	url('fonts/woff2/IRANSansXFaNum-UltraLight.woff2') format('woff2');	
}

@font-face {
	font-family: IRANSansXFaNum;
	font-style: normal;
	font-weight: 300;
	src: url('fonts/woff/IRANSansXFaNum-light.woff') format('woff'),   
	url('fonts/woff2/IRANSansXFaNum-light.woff2') format('woff2');		 
}

@font-face {
	font-family: IRANSansXFaNum;
	font-style: normal;
	font-weight: 500;
	src: url('fonts/woff/IRANSansXFaNum-medium.woff') format('woff'),   
	url('fonts/woff2/IRANSansXFaNum-medium.woff2') format('woff2');		 
}

@font-face {
	font-family: IRANSansXFaNum;
	font-style: normal;
	font-weight: 600;
	src: url('fonts/woff/IRANSansXFaNum-demibold.woff') format('woff'),   
	url('fonts/woff2/IRANSansXFaNum-demibold.woff2') format('woff2');	 
}

@font-face {
	font-family: IRANSansXFaNum;
	font-style: normal;
	font-weight: 800;
	src: url('fonts/woff/IRANSansXFaNum-extrabold.woff') format('woff'),   
	url('fonts/woff2/IRANSansXFaNum-extrabold.woff2') format('woff2');		 
}

@font-face {
	font-family: IRANSansXFaNum;
	font-style: normal;
	font-weight: 900;
	src: url('fonts/woff/IRANSansXFaNum-black.woff') format('woff'),   
	url('fonts/woff2/IRANSansXFaNum-black.woff2') format('woff2');		 
}

@font-face {
	font-family: IRANSansXFaNum;
	font-style: normal;
	font-weight: bold;
	src: url('fonts/woff/IRANSansXFaNum-bold.woff') format('woff'),   
	url('fonts/woff2/IRANSansXFaNum-bold.woff2') format('woff2');	 
}

@font-face {
	font-family: IRANSansXFaNum;
	font-style: normal;
	font-weight: normal;
	src: url('fonts/woff/IRANSansXFaNum-regular.woff') format('woff'),   
	url('fonts/woff2/IRANSansXFaNum-regular.woff2') format('woff2');	
}
